h1 {
	text-align: center;
}
.game {
	height: 700px;
	width: 90%;
	border: 2px solid black;
	margin: 0 auto;
	background-color: cornsilk;
}
.leftLand {
    height: 267px;
    width: 25%;
    border: 2px solid black;
    bottom: 0;
    position: absolute;
    top: 513px;
	background-color: #4ACC55;
}

.rightLand {
    height: 267px;
    width: 25%;
    border: 2px solid black;
    bottom: 0;
    right: 0px;
    position: absolute;
    top: 513px;
    margin-right: 89px;
	background-color: #4ACC55;

}
.river {
    height: 203px;
    width: 652px;
    border: 2px solid black;
    bottom: 0;
    position: absolute;
    top: 577px;
    margin-left: 422px;
	background-color:lightblue;
}

.leftPosition {
    height: 179px;
    width: 25%;
    bottom: 0;
    position: absolute;
    top: 330px;
    background-color: #FFF8DC;
}

.rightPosition {
   height: 179px;
    width: 25%;
    bottom: 0;
    right: 0px;
    position: absolute;
    top: 330px;
    margin-right: 89px;
    background-color: #FFF8DC;
}


