h1 {
    text-align: center;
}

.game{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    bottom: 0;
    background-color: cornsilk;
}

.upper-part{
    background-color: skyblue;
    width: 100%;
    height: 400px;
}

.lower-part{
    background-color: purple;
    width: 100%;
    height: 50%;
}

.right-bank{
    width: 25%;
    height: 375px;
    background-color: orange;
    float: left;
}

.left-bank{
    width: 25%;
    height: 375px;
    background-color: orange;
    float: left;
}

.river-valey{
    width: 50%;
    height: 375px;
    float: left;
}

.river-space{
    width: 100%;
    height: 30%;
    background-color: skyblue;
}

.water{
    height: 70%;
    width: 100%;
    background-color: blue;
}

.forRightMen {
    float: left;
}


.forRightGhost {
    float: left;
}

.forLeftMen {
    float: left;
}


.forLeftGhost {
    float: left;
}